
.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 203, 203);
    height: 100vh;
   
}
form{
    display: flex;
    flex-direction: column;
    padding:40px;
    width: 50%;
    margin: auto;
    

}
.btn{
    width: 30%;
    margin: auto;
    background-color: rgb(80, 80, 157);
    color:white;
    border-radius: 10px;
}
input{
    margin: 10px;
    padding: 10px;
    width: 100%;

}
table{
    margin: auto;
    width: 50%;
    background-color: rgb(239, 188, 233);
    
    
}

#demo{
    display: flex;
    padding: 0px;
}
h2{
    text-align: center;
}
.bt{
    background-color: rgb(56, 56, 124);
    color:white;
    border-radius: 4px;
    padding: 3px;
    
    
}
